.checkmark {
    width: 20px;
    opacity: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #61d345;
    position: relative;
    transform: rotate(45deg);
    animation: circleAnimation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      forwards;
    animation-delay: 100ms;
  }
  .checkmark::after {
    content: "";
    box-sizing: border-box;
    animation: checkmarkAnimation 0.2s ease-out forwards;
    opacity: 0;
    animation-delay: 200ms;
    position: absolute;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: #fff;
    bottom: 6px;
    left: 6px;
    height: 10px;
    width: 6px;
  }
  
  .error {
    width: 20px;
    opacity: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #ff4b4b;
    position: relative;
    transform: rotate(45deg);
    animation: circleAnimation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      forwards;
    animation-delay: 100ms;
  }
  .error::before,
  .error::after {
    content: "";
    animation: firstLineAnimation 0.15s ease-out forwards;
    animation-delay: 150ms;
    position: absolute;
    border-radius: 3px;
    opacity: 0;
    background-color: #fff;
    bottom: 9px;
    left: 4px;
    height: 2px;
    width: 12px;
  }
  .error::before {
    animation: secondLineAnimation 0.15s ease-out forwards;
    animation-delay: 180ms;
    transform: rotate(90deg);
  }
  
  @keyframes circleAnimation {
    from {
      transform: scale(0) rotate(45deg);
      opacity: 0;
    }
    to {
      transform: scale(1) rotate(45deg);
      opacity: 1;
    }
  }
  
  @keyframes checkmarkAnimation {
    0% {
      height: 0;
      width: 0;
      opacity: 0;
    }
    40% {
      height: 0;
      width: 6px;
      opacity: 1;
    }
    100% {
      opacity: 1;
      height: 10px;
    }
  }

@keyframes firstLineAnimation {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes secondLineAnimation {
    from {
      transform: scale(0) rotate(90deg);
      opacity: 0;
    }
    to {
      transform: scale(1) rotate(90deg);
      opacity: 1;
    }
  }

  